header {

    background:$primary;
    padding:10px;
    color:#fff;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    width:100%;

    h1 {
        font-size:25px;
        margin-bottom:0;
        padding-left:40px;
        @include media-breakpoint-up(md){
           padding-left:0;
        }

        a {
            color:#fff;
        }
    }

}
